.NewItemForm {
  border: 2px groove black;
  width: 400px;
  height: 400px;
  background-color: rgb(144, 145, 172);
  position: absolute;
  margin: -200px auto auto -200px;
  left: 50%;
  top: 50%;
}

.NewItemForm input[type='text'] {
  display: block;
  margin: 10px auto;
  padding: 10px;
  line-height: 26px;
  font-size: 20px;
}

.NewItemForm input[type='radio'] {
  display: inline-block;
  margin: 15px auto;
}

.NewItemForm button {
  padding: 10px 20px;
  margin: 20px;
}

.NewItemForm #exit-button {
  display: block;
  position: relative;
  margin: 0px 0px 25px 0px;
  width: 25%;
  right: -75%;
}